<div>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="filter" md-whiteframe="4" md-enable-backdrop>
      <div ng-controller="graphFilterCtrl"><ng-include src="'app/graphFilter/graphFilter.html'"></ng-include></div>
    </md-sidenav>

    <md-content flex>
      <div class="neo4j-toggle-left">
        <md-button ng-click="toggleLeft()" class="md-raised md-primary background-color-primary">
          <i class="fa fa-search" aria-hidden="true"></i> Filter
        </md-button>
      </div>
      <div class="nbc-graph">
        <div class="facet-wrapper pull-right">
          <span ng-repeat="(Skey, Svalue) in masterQuery" class="search-level-1">
            <span class="facet search-level-2" ng-attr-id="{{Lkey}}-{{Skey}}" ng-repeat="(Lkey, Lvalue) in Svalue.data" ng-class="getPillStyle(Lkey, Skey)">
              <div class="filter-tag term-pill" ng-repeat="(key, value) in Lvalue" ng-if="value!=null">
                <span class="pill-header cursor-pointer" ng-click="removeFilter(Skey, Lkey, key)"><i class="fa fa-times" aria-hidden="true"></i> Filter:</span>
                <div class="term">{{Lkey}}:{{value}}</div>
              </div>
            </span>
          </span>
        </div>
        <div class="graph-refresh">
          <span class="fa fa-refresh" aria-hidden="true" ng-click="resetGraph()"></span>
        </div>
        <div ng-if="pageTitle != ''" class="page-title">{{pageTitle}}</div>
        <graph></graph>
      </div>
    </md-content>

  </section>

</div>
