.background-color-primary{background-color: rgb(255, 87, 34) !important;}
.background-color-secondary{background-color: rgb(75, 106, 136) !important;}
.background-color-accent1{background-color: rgb(246, 177, 31) !important;}
.background-color-accent2{background-color: rgb(153, 51, 51) !important;}
.background-color-primary-hover-only:hover{background-color: rgb(255, 87, 34) !important;}
.text-color-primary {color: rgb(255, 87, 34) !important;}
.text-color-primary:hover{color: rgb(255, 87, 34) !important;}
.text-color-primary-hover-only:hover{color: rgb(255, 87, 34) !important;}
.text-color-secondary{color: rgb(75, 106, 136) !important;}
.text-color-accent1{color: rgb(246, 177, 31) !important;}
.text-color-accent2{color: rgb(153, 51, 51) !important;}
.text-color-accent1:hover{color: rgb(246, 177, 31) !important;}
.text-color-accent2:hover{color: rgb(106, 35, 35) !important;}
.text-color-accent1-hover-only:hover{color: rgb(246, 177, 31) !important;}
.text-color-accent2-hover-only:hover{color: rgb(106, 35, 35) !important;}
.svg-color-primary{fill: rgb(255, 87, 34) !important;}
.svg-color-secondary{fill: rgb(75, 106, 136) !important;}
.border-color-primary{border-color: rgb(255, 87, 34) !important;}
.border-color-secondary{border-color: rgb(75, 106, 136) !important;}
.border-color-accent1{border-color: rgb(246, 177, 31) !important;}
.border-color-accent2{border-color: rgb(153, 51, 51) !important;}
.logo-background-color{background-color: rgb(255, 255, 255) !important;}
